doctype html
html
	head
		title Login
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/main.css')

	body

		div(class = 'login-container col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1')
			h1 Login

			if (message.length > 0)
				p(class = 'alert alert-danger')= message
			form(action = '/auth/login' method = 'post' role = 'form' class = 'form-horizontal')
				div(class = 'form-group')
					label Username
					input(type = "text" class = "form-control" name='username' placeholder='Name')
				div(class = 'form-group')
					label(for = 'exampleInputPassword1') Password
					input(type = "text" class = "form-control" id = "exampleInputEmail1" name='password' placeholder='Password')
				div(class = 'button form-group')
					button(type = 'submit' class='btn btn-primary') Login
