doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Login
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/main.css')

	body
		div.main
			div.container#login-container
				div.raw
					div#login
						img(src='/img/api_logo.png' width='120' height='106' id="api-logo")
						
						if (message.length > 0)
							p(class = 'alert alert-danger')= message

						form(action = '/auth/login' method = 'post' role = 'form' class = 'form-horizontal')
							div(class = 'form-group')
								//- label Username
								input(type = "text" class = "form-control" name='username' placeholder='Name')
							div(class = 'form-group' id="password-input")
								//- label Password
								input(type = "password" class = "form-control" id = "exampleInputEmail1" name='password' placeholder='Password')
							p#create-account
								a(href='/auth/signup') Create an account
							div(class = 'button form-group')
								button(type = 'submit' class='btn btn-primary' id='login-submit') Login
								//- img(src='/img/ptp_logo.png' class='img-responsive')
