doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title API - Modifications
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/main.css')
		script(type='text/javascript' src='/scripts/angular/angular.js')
		script(type='text/javascript' src='/scripts/main.js')

	body(ng-app = "ptp_api")
		nav.navbar.navbar-default(role='navigation')
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/bars/') API
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav
						li
							a(href='/bars/') Bars
						li
							a(href='/users/') Users
						li
							a(href='/modifications') Modifications
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/auth/profile") Yo #{currentUser}
						li
							a(href='/auth/logout')
								span.glyphicon.glyphicon-off
			div.row
				div.col-md-12.col-sm-12.col-xs-12
					div.panel.panel-default
						div.panel.panel-heading
							table.table
								tr
									th Modif id
									
								each modif in modifications
									tr
										td
											a(href='/modification/#{modif.id}')= modif.id