.container .row {
  padding-bottom: 10px;
}
.container .row #add-div #add-container {
  width: 100%;
}
.container .row #add-div #add-container #add-bar-btn {
  float: right;
  width: 100%;
}
.container .row #add-div #add-container #add-bar-btn #plus {
  float: left;
}
.container .row #add-div #add-container #add-bar-btn #p {
  float: right;
}
.container .row .col-md-12 .panel .panel-heading,
.container .row .col-sm-12 .panel .panel-heading,
.container .row .col-xs-12 .panel .panel-heading {
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 10px #555;
  background-color: #fff;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr th,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr th,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr th {
  background-color: #f8f8f8;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr th,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr th,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr th,
.container .row .col-md-12 .panel .panel-heading .table tbody tr td,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr td,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr td {
  text-align: center;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr .crud,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr .crud,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr .crud {
  width: 70px;
  height: 25px;
  margin: 0 auto;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr .crud a,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr .crud a,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr .crud a {
  float: left;
  width: 25px;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr .crud a #edit,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr .crud a #edit,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr .crud a #edit {
  width: 25px;
  height: 20px;
  color: #5cb85c;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr .crud button,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr .crud button,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr .crud button {
  border: none;
  background-color: transparent;
  width: 25px;
  height: 20px;
}
.container .row .col-md-12 .panel .panel-heading .table tbody tr .crud button #delete,
.container .row .col-sm-12 .panel .panel-heading .table tbody tr .crud button #delete,
.container .row .col-xs-12 .panel .panel-heading .table tbody tr .crud button #delete {
  color: #d9534f;
  width: 25px;
  height: 20px;
}
.container #remove-alert {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.container #remove-alert #alert-container {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.container #remove-alert #alert-container #alert-content {
  border-radius: 8px;
  border-color: #d9534f;
  text-align: center;
  margin: 0 auto;
  width: 33%;
  height: 20%;
  min-width: 300px;
  min-height: 175px;
}
.container #remove-alert #alert-container #alert-content .panel-heading {
  background-color: #d9534f;
  color: #ffffff;
}
.container #remove-alert #alert-container #alert-content .panel-body {
  padding: 0;
  color: #d9534f;
}
.container #remove-alert #alert-container #alert-content .panel-body #buttons {
  width: 142px;
  height: 35px;
  margin: 0 auto;
}
.container #remove-alert #alert-container #alert-content .panel-body #buttons button {
  float: left;
}

.main {
  width: 100%;
  height: 100%;
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
}
.main #login-container {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.main #login-container .raw #login {
  width: 23%;
  min-width: 290px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  background-color: rgba(231, 231, 231, 0.8);
  border-radius: 6px;
  box-shadow: 0px 1px 10px #555;
  padding-bottom: 25px;
}
.main #login-container .raw #login #api-logo {
  margin: 25px;
}
.main #login-container .raw #login form .form-group {
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 20px;
}
.main #login-container .raw #login form .form-group label {
  float: left;
}
.main #login-container .raw #login form .form-group input {
  background-color: rgba(231, 231, 231, 0);
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid #999;
  color: #222222;
}
.main #login-container .raw #login form .form-group .form-control:focus {
  border-color: rgba(34, 34, 34, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 224, 45, 0);
  outline: 0 none;
}
.main #login-container .raw #login form .form-group .button #login-submit {
  background-color: white;
  color: #222222;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) width;
}
.main #login-container .raw #login form .form-group .button #login-submit:focus {
  border-color: rgba(255, 224, 45, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 224, 45, 0);
  outline: 0 none;
}
.main #login-container .raw #login form .form-group .button span {
  margin-left: 5%;
  margin-right: 5%;
}
.main #login-container .raw #login form #password-input {
  margin: 0;
}
.main #login-container .raw #login form #create-account {
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
}
.main #login-container .raw #login form #create-account a {
  color: #777;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
html body .navbar {
  border-radius: 0px;
}
html body .navbar .container-fluid .navbar-collapse .navbar-right li a {
  cursor: pointer;
}
