h1 new bar ma gueule

form(method='post' action='/api/bars?_method=post')
	label bar name
	input(name='name')
	label bar address
	input(name='address')
	label bar price
	input(name='price')
	button(type='submit') go